<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- Spring Ioc注解的入门-->
    <!-- 扫描是为了扫描类上的注解 -->
    <context:component-scan base-package="learningspring.ioc.annotation"/>

    <!-- 在没有扫描的情况下，可以使用属性注入的注解 @Resource @Value @Autowired -->
    <!-- 在XML和注解混合开发的时候会用到 -->
    <!--<context:annotation-config/>-->

</beans>